@import "../../global.scss";

.topbar {
  overflow: hidden;
  background-color: $mainColor;
  color: white;
  width: 100vw !important;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: background-color 0.5s ease , height 0.5s ease;
  @include pc {
    &.hover {
      background-color: $mainColor !important;
      .itemContainer {
        a {
          color: white !important;
          transition: all 0.5s ease !important;
          cursor: pointer;
          &:hover {
            color: $primary-color !important;
          }
        }
      }
    }
  }

  .wrapper {
    font-size: 1.1em;
    padding: 1em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;

    .left {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
    }
    .home {
      text-decoration: none;
      color: inherit;
      font-size: 1.2em;
      font-weight: 700;
      margin-right: 2em;
    }
    .itemContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .itemContainer1 {
        padding: 0.2em 1em;
      }

      @include mobile {
        display: none;
      }
      .icon {
        font-size: 1em;
        margin-right: 0.5em;
      }
      a {
        text-decoration: none;
        color: inherit;
        padding-left: 1em;
        font-size: 1em;
        font-weight: 300;
        transition: color 0.5s ease;
      }
    }
    .right {
      display: none;

      @include mobile {
        display: flex;
      }
      .hamburger {
        width: 32px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        span {
          width: 100%;
          height: 3px;
          background-color: #fff;
          transform-origin: left;
          transition: background-color 1s, transform 1s, opacity 1s ease;
        }
      }
    }
  }
  &.active {
    background-color: $mainColor !important;
    color: white !important;
    .hamburger {
      span {
        &:first-child {
          background-color: white !important;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: white !important;
          transform: rotate(-45deg);
        }
      }
    }
  }
  &.navbarBackground {
    background-color: #fff;
    color: $mainColor;
    height: 78px;
    .wrapper {
      padding-top: 1.3em;
    }
    .right {
      .hamburger {
        span {
          background-color: $mainColor;
        }
      }
    }
  }
}
