@import "../../global.scss";

.skill {
  background: linear-gradient(to right, #394f8a, #915a9b);
  .skill-title {
    margin-top: 2em;
    h1 {
      color: #fff;
      font-weight: 500;
      letter-spacing: 2px;
    }
  }
  .skill-card {
    margin-top: 2em;
    text-align: center;
    padding-top: 2em;
    h2 {
      color: #fff;
      font-size: 1.5em;
      padding-top: 1em;
      font-weight: 300;
    }

    img {
      max-width: 300px;
      width: 100px;
      height: 100px;
    }
  }
}
