@import "../../global.scss";
.intro {
  background-color: $mainColor;
  text-align: center;
  overflow: hidden;
  padding: 0 !important;
  margin: 0 !important;
  top: 0 !important;
  .intro-title {
    padding: 1rem 3rem;
    .icon-intro {
      margin-top: 1em;
      margin-right: auto;
      margin-left: auto;
      img {
        max-width: 5em;
        width: 5em;
        height: 5em;
      }
    }
    .icon-intro {
      width: 5em;
      height: 5em;
      color: white;
    }
    .border-intro {
      margin-top: 1em;
      border-top: 2px solid white;
      border-bottom: 2px solid white;
    }
    .button-intro {
      margin-top: 1em;
      margin-bottom: 1em;
      border-radius: 45px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      font-size: 1.2em;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 500;
      color: #000;
      background-color: #fff;
      padding: 0.5em 1em;
      transition: all 0.3s ease 0s;
      @include mobile {
        font-size: 1em;
      }
      &:hover {
        background-color: $primary-color;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
      }
    }
    .ityped-cursor {
      animation: blink 1s infinite;
    }
    @keyframes blink {
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    h1,
    h2,
    h3 {
      color: #e1fcfd;
      font-weight: 500;
    }
    h1 {
      font-size: 2.5em;
      letter-spacing: 3px;
      font-style: italic;
      @include mobile {
        font-size: 2em;
      }
    }
    h2 {
      font-size: 2em;
      letter-spacing: 2px;
    }
    h3 {
      font-size: 1.5em;
      letter-spacing: 1px;
      span {
        color: $primary-color;
      }
    }
  }
  .intro-img {
    img {
      max-width: 600px;
      width: 100%;
    }
    @include mobile {
      display: none;
    }
  }
  
}
