@import "../../global.scss";

.certifications {
  background-color: #E1FCFD;
  .certifications-title {
    padding: 1em 2em;
    color: #394F8A;
    font-size: 1.5em;
    @include mobile {
      font-size: 1.2em;
      display: flex;
      justify-content: center;
    }
  }
  .certifications-img {
    padding: 0.6em 0.6em;
    .certifications-img-column {
      padding: 1.5em 1.5em;

      a {
        width: 100%;
        text-decoration: none;
        color: #000;
        padding: 0 1em;

        @include mobile {
          display: flex;
          justify-content: center;
          padding: 1.3em 0 ;
          width: 100%;
        }

        img {
          border-radius: 5px;
          box-shadow: 1px 2px 8px 1px black;
          max-width: 400px;
          width: 90%;
          transition: all 0.5s ease;

          &:hover {
            transform: translateY(-15px);
            filter: contrast(115%);
            box-shadow: 1px 2px 10px 3px black;
          }
          @include mobile {
            max-width: 400px;
          }
        }
      }
    }
  }
}
