@import "~bootstrap/scss/bootstrap";
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
.app {
  height: 100vh;
  .section {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: #ffffff;
    position: relative;
    top: 70px;

    > * {
      width: 100vw;
    }
  }
}
.home {
  margin-top: -75px;
}