$mainColor: #394f8a;
$primary-color : #2ee59d;
$width: 768px;


@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin pc {
  @media (min-width: #{$width}) {
    @content;
  }
}
